.sb-show-main #root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'Metamorphous';
  src: url('../public/metamorphous.woff2') format('woff2');
}

/* Storybook */

.sb-show-main {
  height: 100vh;
}

.sb-show-main #root {
  height: 100%;
}
